<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>AddExtras</title>
    <link rel="stylesheet" href="style.css" />
</head>
<body>

<div class="container">

    <h1>Add Extra</h1>


    <form action="/addExtras" method="post">

        <p>Extra: <input type="text" name="extra" /></p>
        <p>Price: <input type="text" name="price" /></p>
        <input type="submit" value="Add" class="btn btn-add"/>
    </form>

</div>

<p class = "footer">
    Made by Cristina, Sebi, Dragos and Paul - KEA 2018
</p>

</body>
</html>