<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>AddMotorhomes</title>
    <link rel="stylesheet" href="style.css" />
</head>
<body>

<div class="container">

    <h1>Add Motorhomes</h1>


    <form action="/addMotorhomes" method="post">

        <p>Type: <input type="text" name="type" /></p>
        <p>Brand: <input type="text" name="brand" /></p>
        <p>Model: <input type="text" name="model" /></p>
        <p>Is Available: <input type="text" name="isAvailable" /></p>
        <p>Max Capacity (persons): <input type="text" name="maxCapacity" /></p>
        <p>Fuel Tank Volume (L/Kg): <input type="text" name="fuelTankVolume" /></p>
        <p>Price Per Day: <input type="text" name="ppd" /></p>
        <input type="submit" value="Add" class="btn btn-add"/>
    </form>

</div>

<p class = "footer">
    Made by Cristina, Sebi, Dragos and Paul - KEA 2018
</p>

</body>
</html>