<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>AddRepairs</title>
    <link rel="stylesheet" href="style.css" />
</head>
<body>

<div class="container">

    <h1>Add Repairs</h1>

        <h1>Motorhomes</h1>
        <table>
            <thead>
            <tr>
                <th>Motorhome Id</th>
                <th>Type</th>
                <th>Brand</th>
                <th>Model</th>
                <th>Is Available</th>
                <th>Max Capacity (persons)</th>
                <th>Fuel Tank Volume (L/kg)</th>
                <th>Price Per Day</th>
                <th></th>
            </tr>
            </thead>

            <tbody>
            <tr th:each="motorhome : ${mtrhm}">
                <td th:text="${motorhome.id}"></td>
                <td th:text="${motorhome.type}"></td>
                <td th:text="${motorhome.brand}"></td>
                <td th:text="${motorhome.model}"></td>
                <td th:text="${motorhome.isAvailable}"></td>
                <td th:text="${motorhome.maxCapacity}"></td>
                <td th:text="${motorhome.fuelTankVolume}"></td>
                <td th:text="${motorhome.ppd}"></td>
            </tr>
            </tbody>
        </table>

    <br>
    <br>

    <div class="container">

        <h1>Add Repairs</h1>

        <form action="/addRepairs" method="post">

            <p>Motorhome Id: <input type="text" name="motorhomeId"/></p>
            <p>Start date: <input type="date" name="startDate"/></p>
            <p>Problem: <input type="text" name="problem"/></p>
            <p>Solution: <input type="text" name="solution"/></p>
            <p>End date: <input type="date" name="endDate"/></p>
            <input type="submit" value="Add" class="btn btn-add"/>
        </form>

    </div>


</div>

<p class = "footer">
    Made by Cristina, Sebi, Dragos and Paul - KEA 2018
</p>

</body>
</html>