<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>AddUsers</title>
    <link rel="stylesheet" href="style.css" />
</head>
<body>

<div class="container">

    <h1>Add User</h1>


    <form action="/addUsers" method="post">

        <p>Full Name: <input type="text" name="fullName" /></p>
        <p>CPR: <input type="text" name="cprNr" /></p>
        <input type="submit" value="Add" class="btn btn-add"/>
    </form>

</div>

<p class = "footer">
    Made by Cristina, Sebi, Dragos and Paul - KEA 2018
</p>

</body>
</html>