<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <!--meta charset="UTF-8"-->
    <link rel="stylesheet" href="style.css" />
    <title>Admin</title>
</head>
<body>

    <span class="container">
        <a href="/" class="btn">LOG-OUT</a>
    </span>

    <div class="container staff">

    <table>
        <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Function</th>
            <th>Username</th>
            <th>Password</th>
        </tr>
        </thead>

        <tbody>
        <tr th:each="staff : ${stf}">
            <td th:text="${staff.id}"></td>
            <td th:text="${staff.fullName}"></td>
            <td th:text="${staff.function}"></td>
            <td th:text="${staff.username}"></td>
            <td th:text="${staff.password}"></td>
            <!--td>
                <a th:href="@{'/details?id=' + ${student.id}}" class="btn btn-details">Details</a>
                <a th:href="@{'/update?id=' + ${student.id}}" class="btn btn-ed">Update</a>
                <a th:href="@{'/delete?id=' + ${student.id}}" class="btn btn-del">Delete</a>
            </td-->
        </tr>
        </tbody>
    </table>

    </div>

    <br>
    <br>

    <div class="container types">

        <table>
            <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Function</th>
                <th>Username</th>
                <th>Password</th>
            </tr>
            </thead>

            <tbody>
            <tr th:each="staff : ${stf}">
                <td th:text="${staff.id}"></td>
                <td th:text="${staff.fullName}"></td>
                <td th:text="${staff.function}"></td>
                <td th:text="${staff.username}"></td>
                <td th:text="${staff.password}"></td>
                <!--td>
                    <a th:href="@{'/details?id=' + ${student.id}}" class="btn btn-details">Details</a>
                    <a th:href="@{'/update?id=' + ${student.id}}" class="btn btn-ed">Update</a>
                    <a th:href="@{'/delete?id=' + ${student.id}}" class="btn btn-del">Delete</a>
                </td-->
            </tr>
            </tbody>
        </table>

    </div>
</body>
</html>