<!DOCTYPE html>
<html lang="en">
<head>
    <!--meta charset="UTF-8"-->
    <link rel="stylesheet" href="style.css" />
    <title>NordicMotorhomes</title>
</head>
<body class="login">

<div class="container">
    <h1>Nordic Motorhomes</h1>
    <h2>System Access:</h2>
</div>

<div class="container">
    <form method="post" action="/">
        <p>Username: <input type="text" name="username"></p>
        <p>Password: <input type="password" name="password"></p>
        <input type="submit" value="Login" class="btn btn-login" />
    </form>
</div>

<div class="container">
    <br>
    <p>
    <h3>Login Details: </h3> <br>
    Owners - admin|admin <br>
    Sales Assistants - sales|user <br>
    Cleaning - cleaning|user <br>
    Auto Mechanic - mechanic|user <br>
    Bookkeeper - bookkeeper|user
    </p>
</div>

<p class = "footer">
    Made by Cristina, Sebi, Dragos and Paul - KEA 2018
</p>
</body>
</html>