<!DOCTYPE html>
<html lang="en">
<head>
    <!--meta charset="UTF-8"-->
    <link rel="stylesheet" href="style.css" />
    <title>NordicMotorhomes</title>
</head>
<body class="login">

<div class="container">
    <h1>Nordic Motorhomes</h1>
    <h2>System Access:</h2>
</div>

<div class="container">
    <form method="post" action="/">
        <p>Username: <input type="text" name="username"></p>
        <p>Password: <input type="password" name="password"></p>
        <input type="submit" value="Login" class="btn btn-login" />
    </form>
</div>

<div class="container">
    <br>
    <p>
    <h3>Login Details: </h3> <br>
    Owners - admin|admin - <i>can view staff, add and modify customers, bookings, motorhomes, repairs and extras</i><br>
    Sales Assistants - sales|user - <i>can add and modify customers, can manage rentals and extras, can view motorhomes
    and see availability</i><br>
    Cleaning - cleaning|user - <i>can view motorhomes and bookings to see when the motorhomes are ready to be
    cleaned</i><br>
    Auto Mechanic - mechanic|user - <i>can view motorhomes and bookings and can add and modify repairs records</i><br>
    Bookkeeper - bookkeeper|user - <i>can view, add and modify customers, extras and motorhomes, can register
    reservations</i>
    </p>
</div>

<p class = "footer">
    Made by Cristina, Sebi, Dragos and Paul - KEA 2018
</p>
</body>
</html>