<!DOCTYPE html>
<html lang="en">
<head>
    <!--meta charset="UTF-8"-->
    <title>NordicMotorhomes</title>
</head>
<body>
    <h1>Nordic Motorhomes</h1>
    <h2>System Access:</h2>

    <form method="post" action="/">
        <p>Nickname: <input type="text" name="nickname"></p>
        <p>Password: <input type="text" name="password"></p>
        <input type="submit" value="LogIn" class="btn_login">
    </form>

    <p>
        Login Details: <br>
        Owners - admin|admin <br>
        Sales Assistants - sales|user <br>
        Cleaning - cleaning|user <br>
        Auto Mechanic - mechanic|user <br>
        Bookkeeper - bookkeeper|user
    </p>
</body>
</html>